/* .App {
  background-color: rgb(250, 239, 182);
} */

.footer-content {
  font-style: italic;
  font-size: 0.8em;
}
.gallery {
  overflow: hidden;
  display: inline-flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: stretch;
}

img.like {
  opacity: 1;
  display: block;
  /* width: 100%;
  height: auto; */
  transition: 0.5s ease;
  backface-visibility: hidden;
  cursor: pointer;
  width: 39px;
  height: 41px;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.322));
  filter: drop-shadow(5px 5px 5px rgba(112, 112, 112, 0.245));
}

img.dislike {
  cursor: pointer;
  width: 38px;
  height: 37px;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.322));
  filter: drop-shadow(5px 5px 5px rgba(112, 112, 112, 0.245));
}

.like-container:hover .like {
  opacity: 0.3;
}
.dislike-container:hover .dislike {
  opacity: 0.3;
}

div.heart-container {
  display: flex;
  justify-content: center;
}
h3 {
  color: rgb(236, 189, 0);
}

.card-password {
  padding-left: 30vw;
  padding-right: 30vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
img.card-img-top {
  width: 40%;
  padding: 1%;
  border: 2px solid white;
  border-radius: 5%;
}

.images {
  display: flex;
  align-content: flex-end;
  flex-direction: column;
  align-items: center;
}
.activ {
  padding: 10vw;
}
.delete-button {
  display: flex;
  flex-direction: column-reverse;
}
.Nav {
  background-color: #fffefe;
  border-bottom: 1px solid #ffffff;
  height: 70px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
/* .Nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
.Nav-links a {
  color: rgb(236, 189, 0);
  font-size: 15px;
  display: flex;
  margin-right: 10px;
}
.Nav-logo {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
  cursor: pointer;
}

.dashboard {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

img.card-img.img-fluid {
  width: 100%;
  height: 100%;
  border-radius: 1%;
  cursor: pointer;
}

.logo {
  margin-bottom: 8px;
  width: 25vh;
}
.logo1 {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.iconImg {
  width: 26px;
  height: 26px;
  cursor: pointer;
  margin-right: 10px;
}

.icon {
  display: flex;
}

.counter {
  margin-right: 10px;
  width: 7px;
  height: 7px;
  background-color: red;
  border-radius: 50%;
  padding: 8px;
  margin-right: 10px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 12px;
  position: relative;
}
p.online {
  margin-top: 5px;
  margin-left: 8px;
  width: 5px;
  height: 5px;
  background-color: rgb(33, 215, 1);
  border-radius: 50%;
  padding: 7px;
}
p.offline {
  margin-top: 5px;
  margin-left: 8px;
  width: 5px;
  height: 5px;
  background-color: rgb(244, 0, 0);
  border-radius: 50%;
  padding: 7px;
}
.card-title {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.notifications {
  position: absolute;
  top: 83px;
  right: 8vw;
  background-color: white;
  display: inline-grid;
  border: solid 3px rgb(236, 189, 0);
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  z-index: 99999;
  align-items: center;
  justify-items: center;
}
.notification {
  padding: 5px;
}
.buttons {
  display: flex;
}

.btn.btn-warning {
  margin: 5px;
}

/* .nButton {
  width: 80%;
  padding: 5px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
} */

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 40px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(236, 189, 0);
  font-weight: 800;
}

.profile-pic {
  border: #fffefe 1px solid;
  border-radius: 100%;
}
.card-profile {
  padding-left: 30vw;
  padding-right: 30vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

p {
  font-size: 14px;
  font-weight: 600;
  color: black;
}

p.message {
  text-align: center;
  font-size: 14px;
  color: forestgreen;
}

p.error {
  text-align: center;
  font-size: 14px;
  color: red;
}

a:link {
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  text-decoration: none;
  color: rgb(236, 189, 0);
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

a:active {
  text-decoration: none;
}

.footer {
  padding: 1%;
  margin-top: 10vw;
  font-size: 10px;
}

.img-top {
  width: 40%;
  height: 40%;
  margin: 2vw;
}

.uploaded-pics {
  width: 40%;
  display: inline-block;
}

.card {
  margin: 2vw;
  /* box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px; */
}

.card-text {
  color: rgb(236, 189, 0);
  font-style: italic;
}

.report {
  padding-top: 1vh;
  font-style: italic;
  font-size: 0.8em;
  color: rgba(236, 181, 0, 0.695);
  cursor: pointer;
}

/* Gallery */

.galleryWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  max-width: 620px;
  margin: 0 auto;
}

.galleryWrap .single {
  margin-top: 10px;
  width: 400px;
  cursor: pointer;
}

.galleryWrap .single img {
  max-width: 80%;
}

.galleryWrap .single img:hover {
  transform: scale(1.02);
}

.sliderWrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.sliderWrap .btnClose,
.sliderWrap .btnPrev,
.sliderWrap .btnNext {
  position: fixed;
  cursor: pointer;
  opacity: 0.6;
  color: #fff;
  z-index: 9999;
}

.btnNext:hover,
.btnPrev:hover,
.btnClose:hover {
  opacity: 1;
}

.sliderWrap .btnClose {
  top: 40px;
  right: 40px;
}

.sliderWrap .btnPrev {
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
}

.sliderWrap .btnNext {
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
}

.fullScreenImage {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullScreenImage img {
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 50%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - -117px);
  top: calc(100vh - 85vh - 35px);
  background: rgb(190, 190, 190);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

/* Chat */

.messenger {
  height: calc(100vh - 220px);
  display: flex;
  /* height: calc(100vh - 220px);
  display: inline-flex; */
}

.chatMenu {
  flex: 3;
}

.chatBox {
  flex: 5.5;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  margin-top: 10px;
  width: 70%;
  height: 90px;
}

.chatSubmitButton {
  background-color: rgb(206, 165, 0);
  color: #fff;
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chatOnline {
  flex: 3;
}

.chatOnlineFriend {
  display: flex;
  align-items: center;
  font: 500;
  cursor: pointer;
}

.chatOnlineBadge {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: limegreen;
  position: absolute;
  right: 2px;
  top: 2px;
}

.chatImgContainer {
  position: relative;
  margin-right: 5px;
  margin-bottom: 5px;
}

.chatImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
}

.chatMenuWrapper,
.chatOnlineWrapper,
.chatBoxWrapper {
  height: 100%;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

p.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  margin-left: 10px;
  border-bottom: 1px solid #ccc;
}

.conversations {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.conversations:hover {
  background-color: rgba(236, 189, 0, 0.368);
}

.conversationImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.conversationName {
  font-weight: 400;
}

.messages {
  display: flex;
  flex-direction: column;
}

.msgImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.msgText {
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: rgb(206, 165, 0);
}

.messageBottom {
  font-size: 12px;
  margin-top: 10px;
}

.messages.own {
  align-items: flex-end;
}

.messages.own .msgText {
  background-color: rgba(241, 241, 241, 0.642);
  color: black;
}

.noConversationText {
  position: absolute;
  top: 10%;
  color: #ccc;
  font-size: larger;
  padding: 10vw;
}
